In [6]:
import pandas as pd 
import numpy as np

## Read the data

In [8]:
test_path = '/home/abdulla-ovais/Desktop/vnb-foml-2024-hackathon./foml24_hackathon/test.csv'
train_path = '/home/abdulla-ovais/Desktop/vnb-foml-2024-hackathon./foml24_hackathon/train.csv'

pd1 = pd.read_csv(test_path)
pd2 = pd.read_csv(train_path)

pd1.head()
pd2.head()

,UID,AgriculturalPostalZone,AgricultureZoningCode,CropFieldConfiguration,CropSpeciesVariety,CultivatedAndWildArea,CultivatedAreaSqft1,DistrictId,FarmClassification,FarmEquipmentArea,...,TotalTaxAssessed,TotalValue,TownId,TypeOfIrrigationSystem,UndergroundStorageSqft,ValuationYear,WaterAccessPoints,WaterAccessPointsCalc,WaterReservoirCount,Target
0,12998,291674,0.0,NaN,3.0,NaN,1136.0,1.0,NaN,NaN,...,8636.716,456255.6,118.0,NaN,NaN,2018.0,2.0,2.0,NaN,high
1,20860,164397,28.0,NaN,4.0,NaN,2083.0,1.0,NaN,NaN,...,18464.292,996887.6,24.0,1.0,NaN,2018.0,3.0,3.0,1.0,medium
2,75725,616532,0.0,NaN,2.0,NaN,922.0,1.0,NaN,NaN,...,15594.568,1043780.0,9.0,1.0,NaN,2018.0,1.0,1.0,NaN,medium
3,106521,942111,43.0,NaN,7.0,NaN,NaN,1.0,NaN,NaN,...,8494.618,435734.8,114.0,NaN,NaN,2020.0,3.0,3.0,NaN,low
4,99467,475557,38.0,NaN,3.0,NaN,2225.0,3.0,NaN,0.0,...,13517.284,885400.0,6.0,NaN,NaN,2020.0,4.0,4.0,NaN,medium

## Preprocess the data, removing missing values

In [14]:
def null_values(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

In [15]:
miss_values = null_values(pd2)
miss_values.head(20)

Dataframe has 58 columns.
There are 55 columns that have missing values.

                          Missing Values  % of Total Values
FarmClassification                112552              100.0
PerimeterGuardPlantsArea          112525              100.0
UndergroundStorageSqft            112512               99.9
FieldZoneLevel                    112512               99.9
HarvestStorageSqft                112457               99.9
HasGreenHouse                     112305               99.8
CropFieldConfiguration            112274               99.7
FieldConstructionType             112239               99.7
CultivatedAndWildArea             112027               99.5
FieldShadeCover                   111701               99.2
ReservoirType                     111477               99.0
TotalReservoirSize                111332               98.9
ReservoirWithFilter               111032               98.6
HasPestControl                    109940               97.7
TaxOverdueStatus                  109516               97.3
TaxOverdueYear                    109516               97.3
FarmShedAreaSqft                  109168               97.0
TotalAreaSqft                     108214               96.1
PrimaryCropAreaSqft2              103876               92.3
PrimaryCropAreaSqft               103876               92.3

In [16]:
pd2 = pd2.loc[:, pd2.isnull().mean() < 0.8]

## after removing 80% missing values

In [18]:
print(pd2)

           UID  AgriculturalPostalZone  AgricultureZoningCode  \
0        12998                  291674                    0.0
1        20860                  164397                   28.0
2        75725                  616532                    0.0
3       106521                  942111                   43.0
4        99467                  475557                   38.0
...        ...                     ...                    ...
112564   26998                  380364                   41.0
112565  135304                  369784                   24.0
112566  153756                  414700                   37.0
112567  129907                  566488                   19.0
112568  103354                  540570                   28.0

        CropSpeciesVariety  CultivatedAreaSqft1  DistrictId  \
0                      3.0               1136.0         1.0
1                      4.0               2083.0         1.0
2                      2.0                922.0         1.0
3                      7.0                  NaN         1.0
4                      3.0               2225.0         3.0
...                    ...                  ...         ...
112564                 2.0               1672.0         3.0
112565                 4.0               3340.0         2.0
112566                 4.0                  NaN         1.0
112567                 2.0               1178.0         1.0
112568                 3.0               1136.0         1.0

        FarmEquipmentArea  FarmVehicleCount  FarmingCommunityId  \
0                     NaN               NaN                 NaN
1                     NaN               NaN                 NaN
2                     NaN               NaN                 NaN
3                     NaN               NaN                 NaN
4                     0.0               2.0                 NaN
...                   ...               ...                 ...
112564              460.0               2.0                 NaN
112565              620.0               2.0                 NaN
112566                NaN               NaN              2092.0
112567                NaN               NaN              2022.0
112568                NaN               NaN                 NaN

        FarmingUnitCount  ...  TotalCultivatedAreaSqft  TotalTaxAssessed  \
0                    1.0  ...                   1136.0          8636.716
1                    1.0  ...                   2083.0         18464.292
2                    1.0  ...                    922.0         15594.568
3                    3.0  ...                   3202.0          8494.618
4                    NaN  ...                   2225.0         13517.284
...                  ...  ...                      ...               ...
112564               NaN  ...                   1672.0         13467.652
112565               NaN  ...                   3340.0         21732.964
112566               4.0  ...                   3518.0         25067.856
112567               1.0  ...                   1178.0         10530.652
112568               1.0  ...                   1136.0          8902.344

        TotalValue  TownId  TypeOfIrrigationSystem  ValuationYear  \
0         456255.6   118.0                     NaN         2018.0
1         996887.6    24.0                     1.0         2018.0
2        1043780.0     9.0                     1.0         2018.0
3         435734.8   114.0                     NaN         2020.0
4         885400.0     6.0                     NaN         2020.0
...            ...     ...                     ...            ...
112564   1106200.0    47.0                     NaN         2018.0
112565   1643115.8     7.0                     NaN         2020.0
112566   1464648.6     1.0                     NaN         2020.0
112567    679200.0     1.0                     1.0         2020.0
112568    515822.8    49.0                     NaN         2020.0

        WaterAccessPoints  WaterAccessPointsCalc  WaterReservoirCount  Target
0                     2.0                    2.0                  NaN    high
1                     3.0                    3.0                  1.0  medium
2                     1.0                    1.0                  NaN  medium
3                     3.0                    3.0                  NaN     low
4                     4.0                    4.0                  NaN  medium
...                   ...                    ...                  ...     ...
112564                2.0                    2.0                  NaN  medium
112565                3.0                    3.0                  NaN  medium
112566                4.0                    4.0                  NaN    high
112567                2.0                    2.0                  1.0  medium
112568                1.0                    1.0                  1.0     low

[112569 rows x 35 columns]